* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #7e5dac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.producto {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.producto img {
  max-width: 100%;
  height: 200px; /* Fija la altura de la imagen a 320 píxeles */
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 8px; /* Opcional: define el radio de los bordes de la imagen */
}

.producto h2 {
  margin: 10px 0 5px;
}

.producto p {
  margin: 5px 0;
  color: #666;
}

.producto .precio {
  color: #4caf50;
  font-size: 1.2em;
  font-weight: bold;
}

.producto .descripcion {
  color: #ffa500; /* Color llamativo para el enlace */
  text-decoration: none;
}

.producto .descripcion:hover {
  text-decoration: underline;
}

.producto .acciones {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Alinear al centro */
}

.producto .whatsapp {
  background-color: #25d366;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
}

.producto .whatsapp:hover {
  background-color: #1ebf57;
}

#buscador {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en móviles */
  }

  .producto img {
    width: 150px; /* Tamaño ajustado para las imágenes en móviles */
    height: 150px; /* Tamaño ajustado para las imágenes en móviles */
  }
}
